/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: 'Cerebri Sans Pro';
  font-weight: normal;
  src: url('/public/fonts/CerebriSansPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  font-weight: bold;
  src: url('/public/fonts/CerebriSansPro-Bold.woff') format('woff');
}

::selection {
  color: white;
  background: #38B2AC; /* WebKit/Blink Browsers */
}

/* Text Link hover effects */

.text-hover-effect-bg {
  display: none;
}

.text-hover-effect:hover .text-hover-effect-bg {
  display: block;
}

.text-hover-effect:hover .text-hover-effect-text {
  color: white;
}