/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: 'Cerebri Sans Pro';
  font-weight: normal;
  src: url('/fonts/CerebriSansPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  font-weight: bold;
  src: url('/fonts/CerebriSansPro-Bold.woff') format('woff');
}

/* Custom Text Selection */
::selection {
  color: white;
  background: #38B2AC; /* WebKit/Blink Browsers */
}

/* Text Link hover effects */
@media (hover: none) {
  .text-hover-effect:hover .text-hover-effect-bg {
    display: none;
  }

  .nav-link-hover-none:hover {
    background: transparent;
    color: black;
    box-shadow: none;
  }
}

.text-hover-effect-text {
  box-shadow: inset 0 -8px 0 rgba(49, 151, 149, 0.4);
}

.text-hover-effect-bg {
  display: none;
}

.text-hover-effect:hover .text-hover-effect-bg {
  display: block;
}

.text-hover-effect:hover .text-hover-effect-text {
  color: white;
  box-shadow: none;
}