@font-face {
  font-family: 'Cerebri Sans Pro';
  font-weight: normal;
  src: url('/public/fonts/CerebriSansPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  font-weight: bold;
  src: url('/public/fonts/CerebriSansPro-Bold.woff') format('woff');
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;